# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Environment variables
.env

# Model files
model/*.pt


# __pycache__ directories
__pycache__
utils/__pycache__
v1/__pycache__

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code settings
.vscode/